# kubectl create secret generic cloudamqp --from-literal=url=http://localhost --dry-run=client -o yaml > cloud_amqp-armadillo-url.yaml
apiVersion: v1
data:
  url: <some-base64-value>
kind: Secret
metadata:
  creationTimestamp: null
  name: cloudamqp-armadillo-url
